*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: 'Free Sans', sans-serif;
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#bgNavOpen{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: black;
    z-index: 998;
    opacity: 0.6;
    display: none;
}
.bg{
    background: rgb(109,0,255);
    background: linear-gradient(90deg, rgba(109,0,255,1) 3%, rgba(117,55,200,1) 20%, rgba(154,5,223,1) 33%, rgba(155,56,200,1) 56%, rgba(150,44,199,1) 68%, rgba(109,0,255,1) 100%);
    filter: brightness(20%);
    position: absolute;
    width: 100%;
    height: 200vh;
    z-index: -1;
}
nav{
    position: fixed;
    z-index: 999;
    display: flex;
    height: 100vh;
    background: black;
    left: 0;
    top: 0;
    width: 20%;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    transform: translateX(-100%);
}
nav a{
    text-decoration: none;
    color:darkgray;
    font-weight: bold;
    padding: 5% 0;
    font-size: 1.3rem;
    transition: 0.2s all;
}
nav a:hover{
    color: white;
    font-size: 1.4rem;
}
.navContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
}
.risco{
    height: 1px;
    opacity: 0.6;
    background: darkgray;
    width: 80%;
}
.navImg{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navImg img{
    width: 80px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s all;
}
.navImg img:hover{
    opacity: 1;
}
.contentNavImg1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentNavImg2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.close{
    color: darkgray;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10% 0;
    font-weight: bold;
}
.open-nav{
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}
header{
    position: fixed;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 997;
}
.menu{
    width: 20px;
    cursor: pointer;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    gap: 20px;
    padding-left: 3%;
}
.left a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.2s all;
}
.left a:hover{
    opacity: 1;
}
header img{
    width: 130px;
}
.right{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: scale(0.9);
    padding-right: 3%;
    cursor: pointer;
    justify-content: flex-end;
}
.right img{
    width: 50px;
    border-radius: 100px;
    border: 2px solid rgb(109,0,255);
}
.right a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.search{
    border: none !important;
    opacity: 0.8;
    transition: 0.2s all;
}
.search:hover{
    opacity: 1;
}
.main{
    width: 100%;
    height: 80vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.swiper {
    width: 100%;
    height: 100%;
}
  .swiper-slide {
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.houseOfDragon{
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/house_of_the_dragon.jpeg");
}
.seraIssoAmor{
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile.jpg");
}
.assassinatoDeAluguel{
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile2.jpg");
}
.rickAndMorty{
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile4..png");
}
:root {
    --swiper-theme-color: #fff !important;
}
.bgBlack{
    position: absolute;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to top,rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 2;
}
.bgBlack2{
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 3;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.03) 100%);

    mix-blend-mode: multiply    
}
.main img{
    width: 550px;
}
.main span{
    font-weight: bold;
}
.info{
    display: flex;
    align-items: center;
    width: 1000px;
    gap: 16px;
    padding-bottom: 2vh;
}
.info img{
    width: 1rem !important;
    height: auto;
    transition: 0.2s all;
}
.playButton{
    border-radius: 100%;
    border: 2px solid white;
    padding: 13px 15px 10px 15px; 
    cursor: pointer; 
}
.playButton:hover{
    border: 2px solid rgb(109,0,255);
}
.infoSeries{
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mainContent{
    z-index: 5;
    padding: 4%;
    display: flex;
    flex-direction: column;
}
.mainContent img{
    width: 35rem;
}
.logoSeries img{
    width: 8rem;
}
.keepWatching{
    width: 200vw;
    height: 40vh;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.03) 60%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    overflow: hidden;
    padding-left: 5vw;
}
.keepWatching a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.keepWatching span{
    opacity: 0.7;
    font-weight: 500;
}
.keepWatchingContent{
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: 1px !important;
    gap: 5px;
}
.card img:hover{
    opacity: 1;
    border: 2px solid rgb(109,0,255);
    border-radius: 5px;
}
.playbutton{
    width: 1.2rem;
    padding: 15px;
}
.riscoProgress{
    width: 100%;
    height: 5px;
    background: white;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1rem !important;
}
.swiper2 {
    width: 60%;
  }
  .slide2 {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/house_of_the_dragon.jpeg");
    opacity: 0.9;
    height: 35vh !important;
    cursor: pointer;
    transition: 0.6s all;
  }
  .slide2 a{
    text-shadow: 1px 1px #000 !important;
  }
  .slide2:hover{
    opacity: 1;
  }
  .slide2:nth-child(2) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile.jpg");
  }
  .slide2:nth-child(3) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile2.jpg");
  }
  .slide2:nth-child(4) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile4..png");
  }
  .slide2:nth-child(5) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/profilePic2.jpg");
  }
  .slide2:nth-child(6) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/house_of_the_dragon.jpeg");
  }
  .slide2:nth-child(7) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile.jpg");
  }
  .slide2:nth-child(8) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile2.jpg");
  }
  .slide2:nth-child(9) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/tile4..png");
  }
  .slide2:nth-child(10) {
    background-position: center;
    background-size: cover;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/profilePic2.jpg");
  }
  
@media only screen and (max-width: 1350px){
    .mainContent img{
        width: 30rem;
    }
}
@media only screen and (max-width: 950px){
    nav{
        transform: translateX(-150%);
        width: 30%;
    }
    .mainContent img{
        width: 25rem;
    }
}
@media only screen and (max-width: 768px){
    header{
        transform: scale(0.9);
    }
    header a{
        display: none;
    }
    nav{
        width: 50%;
    }
    .search{
        display: none;
    }
}

@media only screen and (max-width: 560px){
    header{
        transform: scale(0.9);
    }
    header img{
        width: 90px;
    }
    nav{
        transform: translateX(-200%);
        width: 55%;
    }
    .open-nav{
        transition: transform .1s ease-in-out;
    }   
}
@media only screen and (max-width: 400px){
    nav{
        transform: translateX(-350%);
        width: 85%;
    }
    .mainContent img{
        width: 20rem;
    }
}

