*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: 'Free Sans', sans-serif;
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.bg{
    background: rgb(109,0,255);
    background: linear-gradient(90deg, rgba(109,0,255,1) 3%, rgba(117,55,200,1) 20%, rgba(154,5,223,1) 33%, rgba(155,56,200,1) 56%, rgba(150,44,199,1) 68%, rgba(109,0,255,1) 100%);
    filter: brightness(20%);
    position: absolute;
    width: 100%;
    height: 200vh;
    z-index: -1;
}
nav{
    position: fixed;
    z-index: 999;
    display: flex;
    height: 100vh;
    background: black;
    left: 0;
    top: 0;
    width: 20%;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    transform: translateX(-100%);
}
nav a{
    text-decoration: none;
    color:darkgray;
    font-weight: bold;
    padding: 5% 0;
    font-size: 1.3rem;
    transition: 0.2s all;
}
nav a:hover{
    color: white;
    font-size: 1.4rem;
}
.navContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
}
.risco{
    height: 1px;
    opacity: 0.6;
    background: darkgray;
    width: 80%;
}
.navImg{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navImg img{
    width: 80px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s all;
}
.navImg img:hover{
    opacity: 1;
}
.contentNavImg1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentNavImg2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.close{
    color: darkgray;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10% 0;
    font-weight: bold;
}
.open-nav{
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}
header{
    position: fixed;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
}
.menu{
    width: 20px;
    cursor: pointer;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    gap: 20px;
    padding-left: 3%;
}
.left a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 0.8;
    transition: 0.2s all;
}
.left a:hover{
    opacity: 1;
}
header img{
    width: 130px;
}
.right{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: scale(0.9);
    padding-right: 3%;
    cursor: pointer;
    justify-content: flex-end;
}
.right img{
    width: 50px;
    border-radius: 100px;
    border: 2px solid rgb(109,0,255);
}
.right a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.search{
    border: none !important;
    opacity: 0.8;
    transition: 0.2s all;
}
.search:hover{
    opacity: 1;
}
.main{
    width: 100%;
    height: 80vh;
    background-image: url("https://billyj0w.github.io/HBOCloneUI/img/house_of_the_dragon.jpeg");
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.bgBlack{
    position: absolute;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to top,rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 2;
}
.bgBlack2{
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 3;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.03) 100%);

    mix-blend-mode: multiply    
}
.main img{
    width: 550px;
}
.main span{
    font-weight: bold;
}
.info{
    display: flex;
    align-items: center;
    width: 1000px;
    gap: 16px;
}
.info img{
    width: 20px;
    height: auto;
    padding: 13px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s all;
}
.info img:hover{
    border: 2px solid rgb(109,0,255);
}
.infoSeries{
    margin: 3% 0;
}
.mainContent{
    z-index: 5;
    padding: 4%;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 950px){
    nav{
        transform: translateX(-150%);
        width: 30%;
    }
}
@media only screen and (max-width: 768px){
    header{
        transform: scale(0.9);
    }
    header a{
        display: none;
    }
    nav{
        width: 50%;
    }
}

@media only screen and (max-width: 560px){
    header{
        transform: scale(0.9);
    }
    header img{
        width: 90px;
    }
    nav{
        transform: translateX(-200%);
        width: 55%;
    }
    .open-nav{
        transition: transform .1s ease-in-out;
    }
}
@media only screen and (max-width: 400px){
    nav{
        transform: translateX(-350%);
        width: 85%;
    }
    .search{
        display: none;
    }
}

